.tabs .indicator {
  background-color: rgb(177, 167, 204) !important;
}
.navbar-fixed {
   z-index: 999;
}
.picker__box {
  border: none !important;
}
.no-uppercase {
  text-transform: capitalize;
}
.no-border {
  border: none !important;
}
<<<<<<< HEAD
=======

#calendar .fc-day-header {
  text-transform: uppercase;
  font-weight: 400;
}

#calendar h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 35px;
}

.fc td, .fc th, {
  border-top-width: 0 !important;

}
.fc-content-skeleton thead, .fc-bg {
  border-bottom: none !important;
}
.fc-unthemed td.fc-today {
  /*background: none !important;*/
  border-top: 3px solid red !important;
}

#external-events .fc-event-ext {
 /*color: #fff;*/
  text-decoration: none;
  /*padding: 5px;*/
  margin-bottom: 10px;
  /*cursor: all-scroll;*/
  border: none;
  text-align: center;
  width: 200px !important;
  display: block !important;
}
#event-info-card .card-panel, .no-maring {
  margin: 0px !important;
  border-radius: 0px !important;
}
#event-info-card .modal, .small-modal .modal {
  width: 30% !important;
  max-height: 100% !important;
}

.parallax h1, .parallax h5 {
  position: relative;
  margin: 10px;
}
