.tabs .indicator {
  background-color: white !important;
}
.navbar-fixed {
   z-index: 999;
}
.picker__box {
  border: none !important;
}
.no-uppercase {
  text-transform: capitalize;
}
.no-border {
  border: none !important;
}
