{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="card-panel">
      <div class="faq purple-text text-darken-4">
        <h4>About</h4>
        <br>
        <p>All Hi-Tech Heating & Air Conditioning has been servicing home comfort systems in the Greater Eastside and Seattle areas for many years, providing our many customers with exemplary customer service.

We encourage our prospective customers to check our credentials with the Better Business Bureau, and to view our Testimonials.  Additionally, we can furnish customer references upon request.

We set ourselves apart by maintaining honesty and dependability.  We provide up front, competitive pricing, and get the job done right the first time.  Furthermore, we are experienced and service oriented.   We strive for excellence in customer service and high performance standards.
We are available after hours for emergency services at no additional cost, and are licensed, bonded, and insured.
We, at All Hi-Tech Heating & Air, put every effort in providing quality service and quality products.  We repair, maintain, and install residential and light commercial comfort systems.</p>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
