{% block content %}
<!-- <div class="sites-embed-content sites-embed-type-calendar"><iframe id="390031416" src="https://www.google.com/calendar/embed?src=duneland.k12.in.us_amkb567i1vf6t80i5niedlbdb4@group.calendar.google.com&amp;color=%23668CD9&amp;mode=MONTH&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showTabs=0&amp;showCalendars=0&amp;hl=en" title="Google Sites Demo Calendar" width="100%" height="600" frameborder="0" scrolling="no"></iframe></div> -->

<div class="row">

  <div class="col s12 m2 l3">
    <div id="external-events">
      <h4 class="header">Available Services</h5>
        <div class="divider"></div>
        <br>

        <div class="ui-widget-content fc-event teal ui-draggable ui-draggable-handle center">March Invoices</div>
        <div class="fc-event purple ui-draggable ui-draggable-handle center">March Invoices</div>
        <div class="fc-event red ui-draggable ui-draggable-handle center">March Invoices</div>
        <br>
        <a class="btn-floating modal-trigger" href="#new-event"><i class="material-icons z-depth-1">add</i></a>

    </div>
  </div>
  <div class="col s12 m4 l9">
    <div id='calendar'></div>
  </div>

</div>
<div id="event-modal" class="modal">
  <div class="modal-content">
    <div id="event-content"></div>
  </div>
</div>

{% include "event.html" %}
{% endblock %}
