{% block content %}
<div class="row">
  <div class="col s12 m2 l3">
    <div id="external-events">
      <h4 class="header">Available Services</h5>
        <div class="divider"></div>
        <br>
        <div class="ui-widget-content fc-event teal ui-draggable ui-draggable-handle center">March Invoices</div>
        <div class="fc-event purple ui-draggable ui-draggable-handle center">March Invoices</div>
        <div class="fc-event red ui-draggable ui-draggable-handle center">March Invoices</div>
        <br>
        <a class="btn-floating modal-trigger" href="#new-event"><i class="material-icons z-depth-1">add</i></a>
    </div>
  </div>

  <div class="col s12 m4 l9">
    <div id='calendar'></div>
  </div>
</div>

<div id="event-modal" class="modal">
  <div class="modal-content">
    <div id="event-content"></div>
  </div>
</div>

{% include "event.html" %}
{% endblock %}
