{% block content %}
<div class="row">
  <div class="col s2 m4 l3">
    <div class="card">
      <div class="card-panel">
        <div id="external-events">
          <h5 class="header center">Available Services</h5>
          <div class="divider"></div>
          <p class="">Click or drag the service type onto the calendar</p>
          <br>
          <ul class="container">
          <li class='fc-event-ext modal-trigger latte btn btn-large no-uppercase'><a class="white-text" href="#">Equipment Upgrade</a></li>
          <li class='fc-event-ext modal-trigger coffee btn btn-large no-uppercase'><a class="white-text" href="#">Repair</a></li>
          <li class='fc-event-ext modal-trigger slate btn btn-large no-uppercase'><a class="white-text" href="#">Maintenance</a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="col s12 m4 l9">
      <div class="card">
        <div class="card-panel">
          <div id='calendar'></div>
        </div>
      </div>
    </div>

    <div id="event-modal" class="modal">
      <div class="modal-content">
        <div id="event-content"></div>
      </div>
    </div>
</div>
    {% include "event.html" %} {% include "event-info.html" %} {% endblock %}
    {% include "action.html" %}
