{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="card-panel">
      <div class="faq purple-text text-darken-4">
        <h4>Contact</h4>
        <address>
			Contact <a href="mailto:osmanabate@yahoo.com">Osman Abate</a> for any questions.<br> 
			Visit us at:<br>
			<a href="http://myfurnace.com/">Myfurnace.com<br></a>
			16301 NE 8th st. suit #286<br>
			USA
		</address>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
