{% block content %}
<div id="furnace">
  <ul class="collection no-border">
    <li class="collection-item">
      <p><span class="title"><b>Brand:</b></span></p>
      <p><span class="title"><b>Serial:</b></span></p>
      <p><span class="title"><b>Model:</b></span></p>
      <p><span class="title"><b>Filter Size:</b></span></p>
    </li>
    <li class="collection-item">
      <span class="title"><b>Service History:</b></span>
      <p><small>Last serviced on:</small> October 10, 2017</p>
    </li>
    <li class="collection-item">
      <span class="title"><b>Warranty Status:</b></span>
      <p><small>Valid till:</small> October 10, 2017</p>
    </li>
  </ul>

</div>
<div id="heat-pump">
  <ul class="collection no-border">
    <li class="collection-item">
      <p><span class="title"><b>Brand:</b></span></p>
      <p><span class="title"><b>Serial:</b></span></p>
      <p><span class="title"><b>Model:</b></span></p>
    </li>
    <li class="collection-item">
      <span class="title"><b>Service History:</b></span>
      <p><small>Last serviced on:</small> October 10, 2017</p>
    </li>
    <li class="collection-item">
      <span class="title"><b>Warranty Status:</b></span>
      <p><small>Valid till:</small> October 10, 2017</p>
    </li>
  </ul>
</div>
<div id="air-conditioner">
  <ul class="collection no-border">
    <li class="collection-item">
      <p><span class="title"><b>Brand:</b></span></p>
      <p><span class="title"><b>Serial:</b></span></p>
      <p><span class="title"><b>Model:</b></span></p>
    </li>
    <li class="collection-item">
      <span class="title"><b>Service History:</b></span>
      <p><small>Last serviced on:</small> October 10, 2017</p>
    </li>
    <li class="collection-item">
      <span class="title"><b>Warranty Status:</b></span>
      <p><small>Valid till:</small> October 10, 2017</p>
    </li>
  </ul>

</div>
{% endblock %}
