{% extends "base.html" %} {% block content %}
<div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='img//parallex_1.jpg')}}">
        <div class="container center white-text">

        <div class="row"><br><h3 class="white-text sub-title">All your needs in one place<h3></div>
        <div class="row"><h5>We're here to help</h5></div>

        <div class="row">
        <div class="col offset-m4 m4">
          <a href="{{url_for('book')}}" class="dark-grey-text btn btn-large full-width waves-effect waves-light latte segment-track-start">Book your service now</a>
        </div>
      </div>
  </div>
      </div>
    </div>

{% include "login.html" %} {% include "signup.html" %}


{% endblock %}
