{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s3">
    <div class="card">
      <div class="card-content">
        <p>Service history and equipment information</p>
        <div class="divider"></div>
        <br>
        <div class="row">
          <div class="col s6">
            <a class="waves-effect waves-light red btn modal-trigger z-depth-0 no-uppercase" href="#login">Login</a>
          </div>
          <div class="col s6">
            <a class="waves-effect waves-light teal btn modal-trigger z-depth-0 no-uppercase" href="#signup">Sign up</a>
          </div>
        </div>
      </div>

      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width purple darken-4">
          <li class="tab text-green"><a class="active white-text no-uppercase" href="#furnace">Furnace</a></li>
          <li class="tab"><a class="white-text no-uppercase" href="#heat-pump">Heat Pump</a></li>
          <li class="tab"><a class="white-text no-uppercase" href="#air-conditioner">AC</a></li>
        </ul>
      </div>

      <div class="card-content">
        {% include "history.html" %}
      </div>
    </div>

  </div>
  <span class="test-event" data-event="{{event}}"></span>

  <div class="col s9 m9 l9 right">
    <div class="card-panel">
      {% include "calendar.html" %}
    </div>
  </div>

  {% include "form.html" %} {% include "login.html" %} {% include "signup.html" %}

</div>
{% endblock %}
