{% block content %}
<div class="small-modal">
<div id="login" class="modal">
  <div class="modal-content">
<h1>Login</h1>
<form action ="/login" method ='post'>
      <table>
          <tr>
              <td><label for = "username">Username</label></td>
              <td>
                  <input name ="username" type ="text" value="{{usernamevalue}}">
              </td>
              <td><div class="error">{{uname_error}}</div></td>
          </tr>
          <tr>
              <td><label for = "password">Password</label></td>
              <td>
                  <input name = "password" type ="password">
              </td>
              <td><div class="error">{{pwd_error}}</div></td>
          </tr>
      </table>
      <input type ="submit" value="Submit">
      <p>Don't have an account?<a href="/signup">Create one!</a>
</form>
</div>
</div>
</div>
{% endblock %}
