<div class="navbar navbar-fixed">
  <nav>
    <div class="nav-wrapper purple darken-4">
      <a href="{{url_for('index')}}" class="brand-logo white-text"><span class="bal-logo">Booking</span><span class="bal-logo-2"> App</span></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{url_for('index')}}">Home</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{{url_for('index')}}">Home</a></li>
      </ul>
    </div>
  </nav>
</div>
